.header-content-wrapper {
    background-image: url('/images/events/events_header.jpg');
    background-position-x: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-title {
    padding-bottom: 10vh;
}

.header-title h2 {
    padding: 0;
}

.blur-2 {
    display: none;
}

.blur-3 {
    bottom: 15vh;
    left: auto;
    right: 70px;
}

.header-bg {
    z-index: 1;
}

.events-navigation {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px 10vh;
    margin: 5vh 0;
}

.prev, .next {
    color: #6767676b;
    border: 2px solid #6767676b;
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.prev {
    margin-right: 1vh;
}

.next {
    margin-left: 1vh;
}

.prev span::before, .next span::before {
    color: whitesmoke;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 200%;
}

.prev span::before {
    content: '\e834';
}

.next span::before {
    content: '\e835';
}

.prev:hover, .next:hover {
    border-color: #ff0a0a;
    box-shadow: 0 0 10px 1px #ff0a0a;
}

.prev:hover span::before, .next:hover span::before {
    color: #ff0a0a;
    text-shadow: 0 0 10px #ff0a0a;
}

.events-blocks-wrapper {
    width: calc(100% - 20vh);
    padding: 0 5vh;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.events-block {
    width: 50vh;
    font-size: 130%;
}

.events-title {
    width: 80%;
    margin-bottom: 1vh;
}

.events-title a {
    color: whitesmoke;
}

.events-date {
    font-size: 80%; 
}

.events-date a {
    color: #797878d1;
    cursor: default;
}

.events-block a:hover {
    color: #ff0a0a;
}

.events-date a:hover {
    color: #797878d1;
}

.events-title a:hover {
    text-decoration: underline;
}

.day-events-title {
    padding: 0 10vh;
    color: whitesmoke;
    font-size: 120%;
}

.events-wrapper {
    padding: 5vh 0;
}

/* event page */

.event-page-content {
    height: auto;
    padding-bottom: 5vh;
}

.event-article {
    padding: 0 10vh;
    color: whitesmoke;
    font-size: 110%;
}

.event-article-p {
    color: whitesmoke;
    line-height: 1.4;
    padding-bottom: 2vh;
}

.event-article-img {
    width: 30%;
    float: left;
    margin-right: 2vh;
    overflow: hidden;
}

/* event-page end */