/* first section */

.events-wrapper {
    width: 100%;
    align-self: flex-end;
    margin-bottom: 10vh;
    z-index: 1;
}

.events-blocks-wrapper {
    width: calc(100% - 10vh);
    padding: 0 5vh;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.events-block {
    width: 50vh;
    font-size: 130%;
}

.events-title {
    width: 80%;
    margin-bottom: 1vh;
}

.events-title a {
    color: whitesmoke;
}

.events-date {
    font-size: 80%; 
}

.events-date a {
    cursor: default;
    color: #797878d1;
}

.events-block a:hover {
    color: #ff0a0a;
}

.events-date a:hover {
    color: #797878d1;
}

.events-title a:hover {
    text-decoration: underline;
}

.blur-1, .blur-2, .blur-3 {
    position: absolute;
    z-index: 0;
}

.blur-1 {
    top: 25vh;
    left: 5vh;
    box-shadow: 0 0 100px 40px #99591b;
}

.blur-2 {
    bottom: 5vh;
    left: 5vh;
    box-shadow: 0 0 390px 160px #99591b;
}

.blur-3 {
    bottom: 10vh;
    left: 75vh;
    box-shadow: 0 0 180px 60px #ff0a0a;
}

.events-navigation {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 5vh;
    margin-bottom: 10vh;
}

.prev, .next {
    color: #6767676b;
    border: 2px solid #6767676b;
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.prev {
    margin-right: 1vh;
}

.next {
    margin-left: 1vh;
}

.prev span::before, .next span::before {
    color: whitesmoke;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 200%;
}

.prev span::before {
    content: '\e834';
}

.next span::before {
    content: '\e835';
}

.prev:hover, .next:hover {
    border-color: #ff0a0a;
    box-shadow: 0 0 10px 1px #ff0a0a;
}

.prev:hover span::before, .next:hover span::before {
    color: #ff0a0a;
    text-shadow: 0 0 10px #ff0a0a;
}

/* first section end */

/* second section */

.calendar-wrapper {
    height: auto;
}

#calendar {
    width: 70%;
    margin: 0 auto;
}

.fc .fc-toolbar.fc-header-toolbar {
    color: whitesmoke;
}

.fc .fc-daygrid-day-number {
    color: whitesmoke;
}

.fc .fc-button-primary:disabled {
    background: transparent;
    background-color: transparent;
    border:1px solid #363636;
}

.fc .fc-button-primary {
    color: whitesmoke;
    background: transparent;
    border:1px solid #363636;
    transition: 0.3s ease-in-out;
}

.fc .fc-button-primary:hover {
    background: transparent;
    color: #ff0a0a;
    border: 1px solid #ff0a0a;
    box-shadow: 0 0 10px 1px #ff0a0a;
    text-shadow: 0 0 10px #ff0a0a;
}

.fc .fc-daygrid-day-number:hover {
    color: #ff0a0a;
    
}

.fc .fc-button-primary:focus {
    box-shadow: 0 0 10px 1px #ff0a0a;
    text-shadow: 0 0 10px #ff0a0a;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
    margin-right: 0.5vh;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
    margin-left: 0.5vh;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
}

.fc .fc-col-header-cell-cushion {
    color: whitesmoke;
}

.fc-scroller {
    overflow: visible !important;
}

.fc .fc-highlight {
    background: #f5f5f554;
}

.fc .fc-daygrid-day.fc-day-today {
    background: transparent;
}

.fc .fc-scrollgrid-liquid {
    height: 100%;
    border: 3px solid #4040406b;
}


.fc-theme-standard td, .fc-theme-standard th {
    border: 3px solid #4040406b;
    border-right-width: 0;
}

/* second section end */

/* third section */

.services-blocks-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.services-block {
    width: 25vw;
    height: 25vw;
    overflow: hidden;
}

.services-block:hover .service-img img {
    transform: scale(1.2);
}

.service-title a:hover {
    color: #ff0a0a;
}

.service-img {
    width: 100%;
    height: 80%;
    overflow: hidden;
    cursor: pointer;
}

.service-img img {
    transition: 0.6s ease-in-out;
}

.service-category {
    width: 100%;
    height: 10%;
    font-size: 85%;
    display: flex;
    align-items: center;
}

.service-category a {
    color: whitesmoke;
}

.service-category a:hover {
    color: #ff0a0a;
}

.service-category a:hover::before {
    border-color: whitesmoke;
}

.service-category a::before {
    content: "";
    border: 1px solid #ff0a0a;
    margin-right: 1vh;
}

.service-title {
    width: 100%;
    height: 10%;
    color: whitesmoke;
    font-size: 100%;
    display: flex;
    align-items: center;
}

.service-title a{
    color: whitesmoke;
}

.services-wrapper {
    height: auto;
    padding-bottom: 10vh;
}

/* third section end */

/* media style */

/* global media */

@media screen and (min-width:0px) and (max-width:1024px) { 
    .events-navigation {
        padding: 0 1vh;
        margin-bottom: 4vh;
    }

    .prev span::before, .next span::before {
        font-size: 120%;
    }

    .events-blocks-wrapper {
        width: calc(100% - 2vh);
        padding: 0 1vh;
    }

    .events-block {
        width: 50%;
    }

    .events-block:nth-child(3), .events-block:nth-child(4) {
        display: none;
    }

    #calendar {
        width: 90%;
    }

    .fc .fc-toolbar.fc-header-toolbar {
        font-size: 71%;
    }

    .services-blocks-wrapper {
        flex-wrap: wrap;
        width: 90%;
    }

    .services-block {
        width: 60vw;
        height: 60vw;
        margin-bottom: 2vh;
    }
}

/* ipad */

@media screen and (min-width:541px) and (max-width: 768px) { 
    .events-navigation {
        padding: 0 5vh;
        margin-bottom: 10vh;
    }

    .prev span::before, .next span::before {
        font-size: 200%;
    }

    .events-blocks-wrapper {
        width: calc(100% - 10vh);
        padding: 0 5vh;
    }

    .events-block {
        width: 25%;
    }

    .events-block:nth-child(3), .events-block:nth-child(4) {
        display: block;
    }

    .fc .fc-toolbar.fc-header-toolbar {
        font-size: 100%;
    }

}

/* ipad-pro */

@media screen and (min-width:769px) and (max-width: 1024px) {

    .prev span::before, .next span::before {
        font-size: 200%;
    }

    .events-block {
        width: 25%;
        font-size: 200%;
    }

    .events-block:nth-child(3), .events-block:nth-child(4) {
        display: block;
    }

    .events-navigation {
        margin-bottom: 4vh;
    }

    .events-blocks-wrapper {
        width: calc(100% - 2vh);
        padding: 0 1vh;
    }

    .fc .fc-toolbar.fc-header-toolbar {
        font-size: 100%;
    }

    .service-category {
        font-size: 140%;
    }

    .service-title {
        font-size: 200%;
    }

}


/* media style end */