.profile-content  {
    height: max-content;
}

/* profile menu */

.profile-menu-wrapper {
    width: 1vh;
    height: 100%;
}

.profile-menu-container {
    position: fixed;
    width: 40vh;
    height: 50vh;
    top: 50%;
    left: -36vh;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: nowrap;
    transition: 0.6s ease-in-out;
    z-index: 1;
}

.profile-menu-container.active {
    left: 0;
}

.profile-menu-content {
    background-color: rgb(49 49 49);
    width: 90%;
    height: 100%;
}

.profile-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 4vh solid rgb(49 49 49);
    border-top: 4vh solid transparent;
    border-bottom: 4vh solid transparent;
    width: 0;
    position: relative;
    cursor: pointer;
}

.profile-menu-button p {
    transform: rotate(-90deg);
    color: whitesmoke;
    text-align: center;
    position: absolute;
    right: -6vh;
    width: 17vh;
    font-size: 110%;
}

.profile-menu-button:hover p {
    color: #ff0a0a;
}

.profile-menu-list {
    width: calc(100% - 4vh);
    height: calc(100% - 4vh);
    padding: 2vh;
    font-size: 120%;
}

.profile-menu-list-element {
    margin-bottom: 2vh;
}

.profile-menu-list-element a {
    color: whitesmoke;
    position: relative;
}

.profile-menu-list-element.active  a{
    color: gray;
}

.profile-menu-list-element a::before {
    content: "";
    width: 0%;
    position: absolute;
    border-bottom: 0px solid #ff0a0a;
    bottom: -4px;
    transition: 0.4s ease-in-out;
}

.profile-menu-list-element a:hover {
    color: #ff0a0a;
}

.profile-menu-list-element.active a::before {
    width: 100%;
    border-bottom: 1px solid gray;
}

.profile-menu-list-element a:hover::before {
    width: 100%;
    border-bottom: 1px solid #ff0a0a;
}

/* profile menu end */

/* personal */

.profile-row {
    width: 60%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 0;
    flex-wrap: wrap;
}

.personal-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.profile-photo-wrapper {
    width: 20vh;
    height: 20vh;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.profile-name {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: max-content;
}

.name-p {
    color: whitesmoke;
    font-size: 140%;
    width: 100%;
}

.state-p {
    color: gray;
}

.end-profile-wrapper {
    
}

.profile-element-wrapper {
    width: 100%;
    color: whitesmoke;
    display: flex;
    flex-wrap: nowrap;
    font-size: 120%;
    align-items: center;
}

.birthday-title, .email-title, .phone-title, .address-title, .gender-title, .name-title {
    padding: 1vh 0;
    padding-right: 1vh;
    width: 25%;
}

.birthday-data, .email-data, .phone-data, .address-data, .gender-data, .name-title {
    padding: 1vh 0;
    padding-left: 1vh;
}

.change-button-wrapper {
    width: 100%;
    justify-content: flex-end;
    display: flex;
}

.change-button {
    font-size: 100%;
    font-family: 'Montserrat-Semibold';
    padding: 0.8vh 6vh;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    color: #131313;
}

.change-button:hover {
    border-color: #ff0a0a;
    background-color: transparent;
    color: #ff0a0a;
    box-shadow: 0 0 10px 1px #ff0a0a;
    text-shadow: 0 0 10px #ff0a0a;
} 

/* personal change */

.birthday-data-input, .email-data-input, .phone-data-input, .address-data-input, .name-data-input, .surname-data-input, .middle-name-data-input {
    height: 3vh;
    margin: 1vh;
    background-color: transparent;
    border: 1px solid whitesmoke;
    padding: 0 1vh;
    color: whitesmoke;
    font-size: 100%;
}

.birthday-data-input:hover, .email-data-input:hover, .phone-data-input:hover, .address-data-input:hover, 
.name-data-input:hover, .surname-data-input:hover, .middle-name-data-input:hover {
    border-color: #ff0a0a;
    box-shadow: 0 0 10px 1px #ff0a0a;
}

.birthday-data-input:hover::placeholder, .email-data-input:hover::placeholder, .phone-data-input:hover::placeholder, .address-data-input:hover::placeholder, 
.name-data-input:hover::placeholder, .surname-data-input:hover::placeholder, .middle-name-data-input:hover::placeholder {
    color: #ff0a0a;
}

.datepicker-here {
    width: max-content;
    margin: 1vh;
}

.gender-input {
    margin: 0 1vh;
}

.change-photo-wrapper {
    position: absolute;
    bottom: -7%;
    left: 20%;
    background-color: #ff0a0a;
    border: 1px solid transparent;
    padding: 1vh;
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-photo-wrapper:hover {
    background-color: whitesmoke;
    border: 1px solid #ff0a0a;
    box-shadow: 0 0 10px 1px #ff0a0a;
}

.change-photo {

}

.change-photo::before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    content: '\e837';
    color: whitesmoke;
    font-size: 160%;
}

.change-photo-wrapper:hover .change-photo::before {
    color: #ff0a0a;
    text-shadow: 0 0 10px #ff0a0a;
}

/* personal change end */

/* personal end */

/* registration */

.block-title {
    margin-top: 4vh;
}

.block-title h2::before {
    content: "";
    width: 100%;
    border: 1px solid red;
    margin-right: 1vh;
}

/* n-select */

.nselect.nsOrange .nselect__head {
    color: whitesmoke;
    width: 100%;
    height: 3vh;
}

.nselect.nsOrange .nselect__head:after {
    border-color: whitesmoke transparent transparent transparent;
}

.nselect.nsOrange._checked .nselect__head {
    color: whitesmoke;
}

.nselect.nsOrange._checked .nselect__head:after {
    border-color: whitesmoke transparent transparent transparent;
}

.nselect.nsOrange .nselect__inner {
    background-color: rgb(49 49 49);
    width: 100%;
}

.nselect.nsOrange .nselect__list LI._active SPAN {
    color: whitesmoke;
}

.nselect.nsOrange .nselect__list LI SPAN {
    color: gray;
    border: none;
}

.nselect.nsOrange .nselect__list LI SPAN:hover {
    color: #ff0a0a;
    background: transparent;
}

.nselect.nsOrange .nselect__inner:before {
    border-color: transparent transparent rgb(49 49 49) transparent;
}

.nselect.nsOrange {
    border: 1px solid gray;
    width: 50%;
}

/* n-select end */

.registration-content {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    margin: 0 auto;
}

.left-column, .right-column {
    width: 50%;
    padding: 0 2vh;
}

.registration-element {
    display: flex;
    flex-wrap: wrap;
    padding: 2vh;
    align-items: center;
    width: calc(100% - 4vh);
    height: 6vh;
}

.registration-element-title {
    color: whitesmoke;
    width: 90%;
    font-size: 90%;
    margin-bottom: 1vh;
    margin-left: 1vh;
}

.registration-element-input {
    height: 3vh;
    background-color: transparent;
    border: 1px solid gray;
    padding: 0 1vh;
    color: whitesmoke;
    font-size: 100%;
    width: calc(50% - 2vh);
}

.registration-element-input:hover {
    border-color: #ff0a0a;
    box-shadow: 0 0 10px 1px #ff0a0a;
}

.registration-element-input:hover::placeholder {
    color: #ff0a0a;
}

.datepicker-here.registration-element-input {
    margin: 0;
}

.registration-row {
    justify-content: flex-start;
    align-items: center;
    margin: 2vh 0;
    width: calc(50% - 6vh);
    margin-left: auto;
    padding: 0 2vh;
}

.registration-button {
    font-size: 100%;
    font-family: 'Montserrat-Semibold';
    padding: 0.8vh 6vh;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    color: #131313;
}

.registration-button:hover {
    border-color: #ff0a0a;
    background-color: transparent;
    color: #ff0a0a;
    box-shadow: 0 0 10px 1px #ff0a0a;
    text-shadow: 0 0 10px #ff0a0a;
}

/* registration end */

/* my events */

.my-events-wrapper {
    width: calc(100% - 20vh);
    padding: 0 10vh;
}

.choose-date-my-events {
    font-size: 120%;
    margin-bottom: 2vh;
}

.choose-date-element {
    color: whitesmoke;
    margin-right: 2vh;
}

.choose-date-element:hover {
    color: #ff0a0a;
}

.choose-date-element.active {
    color: #ff0a0a;
}

.my-events-container {
    border: 1px solid gray;
    padding: 2vh;
}

.my-events-sorting-container {
    border-bottom: 1px solid gray;
    padding-bottom: 1vh;
}

.my-events-sorting-container .nselect.nsOrange {
    width: max-content;
    border: none;
}

.my-events-sorting-container .nselect.nsOrange .nselect__head {
    padding-left: 0;
}

.my-events-element-container {
    padding: 2vh 0;
}

.my-evetns-element {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 1vh;
}

.my-events-programm, .my-events-categories, .my-events-type {
    width: 33.33%;
}

.my-events-programm-title, .my-events-categories-title, .my-events-type-title {
    color: gray;
    padding: 1vh 0;
}

.my-events-programm-name, .my-events-categories-name, .my-events-type-name {
    color: whitesmoke;
    padding: 1vh 0;
}

.my-evetns-element:hover {
    background-color: #313131;
}

.my-evetns-element:hover .my-events-programm-name, .my-evetns-element:hover .my-events-categories-name, .my-evetns-element:hover .my-events-type-name {
    color: #ff0a0a;
}

/* my events end */

.required {
    margin-right: 1vh;
}

/* media style */

/* global media */

@media screen and (min-width:0px) and (max-width:1024px) { 
    .profile-row {
        width: 90%;
    }

    .profile-menu-button {
        border-left: 3vh solid rgb(49 49 49);
        border-top: 3vh solid transparent;
        border-bottom: 3vh solid transparent;
    }

    .profile-menu-button p {
        right: -7vh;
        font-size: 80%;
    }

    .profile-element-wrapper {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .profile-photo-wrapper {
        width: 20vh;
        height: auto;
    }

    .birthday-title, .email-title, .phone-title, .address-title, .gender-title, .name-title {
        width: 100%;
        color: gray;
    }

    .change-photo-wrapper {
        left: 16%;
    }

    .end-profile-wrapper {
        margin-top: 3vh;
    }

    .registration-content {
        width: 100%;
        flex-wrap: wrap;
    }

    .left-column, .right-column {
        width: 100%;
        padding: 0 1vh;
    }

    .registration-element {
        width: calc(100% - 3vh);
        padding-right: 1vh;
    }

    .nselect.nsOrange {
        width: 100%;
    }

    .nselect.nsOrange .nselect__head {
        height: max-content;
    }

    .registration-element-input {
        width: calc(100% - 2vh);
    }

    .registration-row {
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .my-events-wrapper {
        width: calc(100% - 3vh);
        padding: 0px 3vh;
        padding-right: 0;
        font-size: 70%;
    }

    .choose-date-element {
        font-size: 90%;
    }


}

/* ipad */

@media screen and (min-width:541px) and (max-width: 768px) { 

    .my-events-wrapper {
        font-size: 100%;
    }

    .birthday-data-input, .email-data-input, .phone-data-input, .address-data-input, .name-data-input, .surname-data-input, .middle-name-data-input {
        width: 100%;
    }

    .datepicker-here {
        width: 100%;
    }

    .change-photo-wrapper {
        left: 20%;
    }

}

/* ipad-pro */

@media screen and (min-width:769px) and (max-width: 1024px) {

    .my-events-wrapper {
        font-size: 100%;
    }

    .birthday-data-input, .email-data-input, .phone-data-input, .address-data-input, .name-data-input, .surname-data-input, .middle-name-data-input {
        width: 100%;
    }

    .datepicker-here {
        width: 100%;
    }

    .change-photo-wrapper {
        left: 20%;
    }

    .profile-content {
        font-size: 140%;
    }
}


/* media style end */