
.icon-user:before { content: '\e829'; } /* '' */
.icon-vk-reproductor:before { content: '\e831'; } /* '' */
.icon-facebook-app-logo:before { content: '\e832'; } /* '' */
.icon-instagram:before { content: '\e833'; } /* '' */
.icon-prev:before { content: '\e834'; } /* '' */
.icon-next-(1):before { content: '\e835'; } /* '' */
.icon-header-link:before { content: '\e836'; } /* '' */
.icon-pen:before { content: '\e837'; } /* '' */
.icon-search:before { content: '\e838'; } /* '' */